/* main-block */

.search-block {
  display: flex;
  padding-top: 2.5rem;
  height: 10rem;
}

.search-input {
  /* refactor ? */
  width: 100%;
  padding-left: 1rem;
  border-color: transparent;
}

.main-block__food-order {
  margin-top: 3rem;
}

.main-block__when-input,
.main-block__address-input {
  width: 100%;
  margin-top: 1rem;
  height: 7rem;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-align: center;
}

.main-block__header-name {
  margin: 5rem 0 2rem;
}

.main-block__product-description {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/* main-block @media */

@media (min-width: 768px) {
  .main-block__food-order {
    display: none;
  }
  .main-block__header-name {
    margin: 7rem 0 2rem;
  }
}